@import "./breakpoints.scss";
.jumbotron {
  background: linear-gradient(
    157deg,
    rgba(173, 150, 221, 1) 0%,
    rgba(53, 8, 153, 1) 100%
  );
  border-radius: 0;
  height: 23rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  .content {
    margin-top: 4rem;
  }

  @include lg {
    clip-path: polygon(0 0, 100% 0, 100% 78%, 22% 100%, 0 81%);
    height: 27rem;
  }
  .btn {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 700;
    &White {
      background-color: #fff;
      color: #8b73bf;
      &:hover {
        background-color: darken(#fff, 15%);
        color: darken(#8b73bf, 15%);
      }
    }
  }
  .input {
    background-color: #fff;
    opacity: 0.75;
    height: 3rem;
    &::placeholder {
      color: #8b73bf;
      opacity: 1;
    }
  }
}
